

<div class="container mt-5">
    <div class="row m-3 text-center"><strong>Dashboard with alarm indication</strong></div>
    <!-- Number of connections ends -->
    <div class="row mb-2 p-2 mainDiv">
        <div class="colStyle">
            <div class="row">
                <strong>Number of connections</strong>
                <hr>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="progress">
                        <div class="inner"> <strong>73728</strong></div>
                        </div>
                </div>
                <div class="col-7">
                    <div class="shape1"></div>
                    <hr class="hr" style="margin: 0;">
                </div>
            </div>
        </div>
        <div class="colStyle">
            <div class="row">
                <strong>Charge Power</strong>
                <hr>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="progress" style="border: 5px solid blueviolet;">
                        <div class="inner" style="color: blueviolet;"> <strong >100</strong></div>
                        </div>
                </div>
                <div class="col-7">
                    <div class="shape2"></div>
                   
                </div>
            </div>
        </div>
        <div class="colStyle">
            <div class="row">
                <strong>SOC (percentage(%))</strong>
                <hr>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="progress"  style="border: 5px solid crimson;">
                        <div class="inner" style="color:crimson;"> <strong>80</strong></div>
                        </div>
                </div>
                <div class="col-7">
                   
                    <hr class="hr mt-5" style="margin: 0;">
                </div>
            </div>
        </div>
        <div class="colStyle">
            <div class="row">
                <strong>Site Information</strong>
                <hr>
            </div>
            <div class="" style="background-color: green;text-align: center;">
                <strong style="color: white;">Woodland</strong>
            </div>
            <div class="row">
                <div class="col-5 m-2 iconcolStyle">
                    <i class="fa fa-bell" style="font-size:20px;color:rgb(163, 154, 154);padding: 10px;"></i>
                    <i class="fa fa-warning" style="font-size:20px;color:yellow;"></i>
                </div>
                <div class="col-7">
                 <strong class="textStyle">Aug 12th 2020, 19:45:00</strong>
                 <p class="textStyle">Last Data Collected</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Number of connections ends -->

    <!-- Overview starts -->
    <div class="row mb-2 p-2 mainDiv">
        <div><strong>Overview</strong></div>
        <hr>
        <div class="colStyle1">
            <div class="row">
                <div class="col-5">
                   <div class="numberStyle">80</div>
                </div>
                <div class="col-7">
                     <div class="hr" style="margin-top:30px;border-bottom: 1px solid white;height: 20px;"></div>
                </div>
            </div>
            <div class="unitStyle">Watt (w)</div>
            <div class="row rowbg"><span>Active DC Power 6</span></div>
        </div>
        <div class="colStyle1">
            <div class="row">
                <div class="col-5">
                   <div class="numberStyle">18</div>
                </div>
                <div class="col-7">
                     <div class="hr" style="margin-top:30px;border-bottom: 1px solid white;height: 20px;"></div>
                </div>
            </div>
            <div class="unitStyle">Kilowatt (Kw)</div>
            <div class="row rowbg"><span>Total DC Power</span></div>
        </div>
        <div class="colStyle1">
            <div class="row">
                <div class="col-3">
                   <div class="numberStyle">76</div>
                </div>
                <div class="col-9">
                    <div class="triangle"></div>
                </div>
            </div>
            <div class="unitStyle">Kilowatthour (Kwr)</div>
            <div class="row rowbg"><span>Charge Capacity</span></div>
        </div>
        <div class="colStyle1">
            <div class="row">
                <div class="col-3">
                   <div class="numberStyle">98</div>
                </div>
                <div class="col-9">
                    <div class="triangle"></div>
                </div>
            </div>
            <div class="unitStyle">Percentage(%)</div>
            <div class="row rowbg"><span>State of Health</span></div>
        </div>
    </div>
 <!-- Overview ends -->

     <!-- Status indicatios starts -->
    <div class="row mb-2 p-2 mainDiv">
        <div><strong>Status Indicators</strong></div>
        <hr>
        <div class="colStyle">
           
            <div class="row pt-2 pb-2">
                <div class="col-3">
                    <div class="squareColor">
                       </div>
                </div>
                <div class="col-9">
                   <p class="m-0">Fault Indicator</p>
                   <p class="m-0" style="font-size: 14px;"><strong>120</strong></p>
                </div>
            </div>
        </div>
        <div class="colStyle">
           
            <div class="row pt-2 pb-2">
                <div class="col-3">
                    <div class="squareColor" style="background-color: red;">
                       </div>
                </div>
                <div class="col-9">
                   <p class="m-0">Run Status Indicator</p>
                   <p class="m-0" style="font-size: 14px;"><strong>Stopped</strong></p>
                </div>
            </div>
        </div>
        <div class="colStyle">
           
            <div class="row pt-2 pb-2">
                <div class="col-3">
                    <div class="squareColor" style="background-color: green;">
                       </div>
                </div>
                <div class="col-9">
                   <p class="m-0">Lock Indicator</p>
                   <p class="m-0" style="font-size: 14px;"><strong>Unlocked</strong></p>
                </div>
            </div>
        </div>
        <div class="colStyle">
           
            <div class="row pt-2 pb-2">
                <div class="col-3">
                    <div class="squareColor" style="background-color:rgb(243, 60, 28);">
                       </div>
                </div>
                <div class="col-9">
                   <p class="m-0">Control Indicator</p>
                   <p class="m-0" style="font-size: 14px;"><strong>Not respond to commands</strong></p>
                </div>
            </div>
        </div>
        </div>
          <!-- Status indicatios ends -->

        <!-- Battery container start -->
        <div class="row mb-2 p-2 mainDiv">
            <div><strong>Battery Container Temperature AND Watchdog Time Feedback - Real Time</strong></div>
            <hr>
            </div>
            
          <div class="row">
            <div class="slds-p-top--medium">
                <div>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="quiz-graph">
                        <defs>
                            <pattern id="grid" width="50" height="50" patternUnits="userSpaceOnUse">
                                <path d="M 50 0 L 0 0 0 50" fill="none" stroke="#e5e5e5" stroke-width="1"></path>
                            </pattern>
                        </defs>
                        <rect x="50" width="calc(100% - 50px)" height="300px" fill="url(#grid)" stroke="gray"></rect>
            
                        <g class="label-title">
                            <text x="-160" y="5" transform="rotate(-90)">Celcious</text>
                        </g>
                        <g class="label-title">
                            <text x="50%" y="350">Battery Container Temperature</text>
                        </g>   
                        <g class="x-labels">
                            <text x="150" y="320">1948.00</text>
                            <text x="250" y="320">1948.00</text>
                            <text x="350" y="320">1949.00</text>
                            <text x="450" y="320">1949.00</text>
                            <text x="550" y="320">1950.00</text>
                            <text x="650" y="320">1950.00</text>
                            <text x="750" y="320">1951.00</text>
                            
                           
                            
                        </g>
                        <g class="y-labels">
                            <text x="42" y="5">30</text>   
                            <text x="42" y="55">25</text>
                            <text x="42" y="105">20</text>   
                            <text x="42" y="155">15</text>
                            <text x="42" y="205">10</text>   
                            <text x="42" y="255">5</text>
                            <text x="42" y="305">0</text>
                            
                        </g>
                        <linearGradient id="grad" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%" style="stop-color:rgba(99,224,238,.5);stop-opacity:1"></stop>
                            <stop offset="100%" style="stop-color:white;stop-opacity:0"></stop>
                        </linearGradient>
                        <polyline fill="url(#grad)" stroke="#34becd" stroke-width="0" points="
                        50,300
                        51,0
                        150,100
                        250,80
                        350,160
                        450,100
                        550,100
                        650,150
                        750,200
                        750,300
                        "></polyline>
            
                        <polyline fill="none" stroke="#34becd" stroke-width="2" points="
                        50,0
                        150,100
                        250,80
                        350,160
                        450,100
                        550,100
                        650,150
                        750,200
                        "></polyline>
                        <g>
                            <circle class="quiz-graph-start-dot" cx="50" cy="0" data-value="7.2" r="6"></circle>
                            <circle class="quiz-graph-dot" cx="150" cy="100" data-value="8.1" r="6" q-title="Q1" answer-count="200" percent-value="66%"></circle>
                            <circle class="quiz-graph-dot" cx="250" cy="80" data-value="7.7" r="6" q-title="Q2" answer-count="220" percent-value="73%"></circle>
                            <circle class="quiz-graph-dot" cx="350" cy="160" data-value="6.8" r="6" q-title="Q3" answer-count="140" percent-value="46%"></circle>
                            <circle class="quiz-graph-dot" cx="450" cy="100" data-value="6.7" r="6" q-title="Q4" answer-count="200" percent-value="66%"></circle>
                            <circle class="quiz-graph-dot" cx="550" cy="100" data-value="6.7" r="6" q-title="Q5" answer-count="200" percent-value="66%"></circle>
                            <circle class="quiz-graph-dot" cx="650" cy="150" data-value="6.7" r="6" q-title="Q6" answer-count="150" percent-value="50%"></circle>
                            <circle class="quiz-graph-dot" cx="750" cy="200" data-value="6.7" r="6" q-title="Complited Quiz" answer-count="100" percent-value="33%"></circle>
                        </g>
                    </svg>
                </div>
            </div>
     </div>
        
              <!-- Battery container ends -->
              <div class="row mb-2 p-2 mainDiv">
                <div><strong>Warning / Alarm</strong></div>
                <hr>
               
              <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Alarm Name</th>
                        <th scope="col">Device</th>
                        <th scope="col">Alarm Type</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Trigger Value</th>
                        <th scope="col">Device Template</th>
                        <th scope="col">Alert/Alarm</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Over_Discharge_Current_Warning</td>
                        <td>Energy Battery</td>
                        <td>System</td>
                        <td>Aug 12,2020 2:37 AM</td>
                        <td>80</td>
                        <td>Low Alarms</td>
                        <td>Alert</td>
                      </tr>
                      <tr>
                        <td>Over_Discharge_Current_Warning</td>
                        <td>Energy Battery</td>
                        <td>System</td>
                        <td>Aug 12,2020 2:37 AM</td>
                        <td>80</td>
                        <td>Low Alarms</td>
                        <td>Alert</td>
                      </tr>
                      <tr>
                        <td>Over_Discharge_Current_Warning</td>
                        <td>Energy Battery</td>
                        <td>System</td>
                        <td>Aug 12,2020 2:37 AM</td>
                        <td>80</td>
                        <td>Low Alarms</td>
                        <td>Alert</td>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
 </div>

</div>
